@using PayxApp.ViewModels
@model SimulacaoViewModel

<div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Simulação</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>

    <form id="formSimulacao" name="formSimulacao" asp-controller="Simulacao" asp-action="_Simulacao">
        <div style="padding-left: 25%; padding-right: 25%;">
            <div class="row">
                <div class="col-12">
                    <div class="text-danger text-start" asp-validation-summary="ModelOnly"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <input asp-for="NomeCompleto" class="form-control" id="nome-simulacao" type="text" placeholder="Seu nome *" />
                    <span asp-validation-for="NomeCompleto" class="help-block text-danger text-start" id="validacao-nome"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <input asp-for="Email" class="form-control" id="email-simulacao" type="email" placeholder="Seu e-mail *" />
                    <span asp-validation-for="Email" class="help-block text-danger text-start" id="validacao-email"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <input asp-for="Celular" class="form-control" id="celular-simulacao" type="text" placeholder="Seu celular" />
                    <span asp-validation-for="Celular" class="help-block text-danger text-start" id="validacao-celular"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <input asp-for="Valor" class="form-control" id="valor-simulacao" type="number" min="1" placeholder="Valor desejado*"
                           step="any" />
                    <span asp-validation-for="Valor" class="help-block text-danger text-start" id="validacao-valor"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <select asp-for="Parcelas" id="parcelas-simulacao" class="form-control select">
                        <option value="" selected>--Parcelamento</option>
                        <option value="1">1x</option>
                        <option value="2">2x</option>
                        <option value="3">3x</option>
                        <option value="4">4x</option>
                        <option value="5">5x</option>
                        <option value="6">6x</option>
                        <option value="7">7x</option>
                        <option value="8">8x</option>
                        <option value="9">9x</option>
                        <option value="10">10x</option>
                        <option value="11">11x</option>
                        <option value="12">12x</option>
                    </select>
                    <span asp-validation-for="Parcelas" class="help-block text-danger text-start" id="validacao-parcelas"></span>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div id="success" style="margin-top: 30px;"></div>
            <a class="btn btn-primary btn-xl text-uppercase" id="btn-simular">Simular</a>
            <button hidden type="submit" class="btn btn-primary btn-xl text-uppercase" id="btn-submit-simulacao">Simular</button>
        </div>
    </form>
</div>